@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  select {
    @apply outline-none;
  }

  input,
  select:hover,
  input,
  select:focus {
    @apply outline-none;
  }
}

:root {
  --background: #000;
  --text: #f2f2f2;
  --font-lexend: 'Lexend', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-lexend);
}

h1,
h2,
h3 {
  font-family: var(--font-roboto); /* Lexend for headings */
}

p {
  font-family: var(--font-roboto); /* Roboto for paragraphs */
}

/* Hide horizontal scrollbar */
.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Style for the scrollbar track (background of scrollbar) */
::-webkit-scrollbar {
  height: 8px; /* Height of the horizontal scrollbar */
  background: #000; /* Match your site's dark theme */
}

/* Style for the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background: #44444d; /* Themed colour for the scrollbar */
  border-radius: 4px; /* Rounded edges for smooth look */
  border: 2px solid #44444d; /* Padding-like effect matching the track */
}

/* Style for scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background: #44444d; /* Slightly darker or lighter variant for hover */
}

/* Remove scrollbar buttons */
::-webkit-scrollbar-button {
  /* display: none; */
  width: 0;
  height: 0;
  background: transparent; /* Hide buttons, optional */
}
