@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  select {
    @apply outline-none;
  }

  input,
  select:hover,
  input,
  select:focus {
    @apply outline-none;
  }
}

:root {
  --background: #000;
  --text: #f2f2f2;
  --font-lexend: 'Lexend', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-roboto);
  font-size: 62.5%;
}

h1,
h2,
h3 {
  font-family: var(--font-roboto); /* Lexend for headings */
}

p {
  font-family: var(--font-roboto); /* Roboto for paragraphs */
}

h1 {
  font-size: 26px;
  color: #fff;
  overflow-wrap: break-word;
  white-space: normal;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  color: #fff;
  overflow-wrap: break-word;
  white-space: normal;
  font-weight: 300;
  letter-spacing: 1px;
}

h3 {
  font-size: 22px;
  color: #fff;
  overflow-wrap: break-word;
  white-space: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
}
h4 {
  font-size: 20px;
  color: #fff;
  overflow-wrap: break-word;
  white-space: normal;
  font-weight: 500;
  letter-spacing: 1px;
}
h5 {
  font-size: 18px;
  color: #fff;
  overflow-wrap: break-word;
  white-space: normal;
  font-weight: 500;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  color: #fff;
  overflow-wrap: break-word;
  white-space: normal;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 22px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  h3 {
    font-size: 18px;
  }
}

/* General Scrollbar Styling */
::-webkit-scrollbar {
  width: 2px; /* For vertical scrollbars */
  height: 4px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #000; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #44444d; /* Thumb (draggable handle) colour */
  border-radius: 4px; /* Rounded corners for thumb */
}

/* Hover Effect for Thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555555; /* Darker colour on hover */
}

/* For Firefox */
.scrollbar {
  scrollbar-width: thin; /* Reduces scrollbar width */
  scrollbar-color: #44444d #000; /* Thumb and track colours */
}

/* To completely hide scrollbars */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media (pointer: coarse) {
  /* Targets touchscreens */
  .hide-scrollbar {
    overflow: -moz-scrollbars-none; /* Firefox older versions */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Modern Firefox */
  }
}
